<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KoDi</title>
</head>
<style>
        ul li a {
            font-size: 30px;
            color: white;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            
        }
</style>
<body style="width: 100%;
        background: url('static/fon.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;">
<ul>
    <li><a href="/portfolio">Компании</a></li>
    <li><a href="/map">Заказать</a></li>
    <li><a href="/contacts">Контакты</a></li>
</ul>
<p>Программист. Работал в крупных компаниях - Yandex, Vk и т.п. Готов разработать ваш заказ.</p>
</body>
</html>
