<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KoDi</title>
</head>
<style>
        ul li a {
            font-size: 30px;
            color: white;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            
        }
</style>
<body style="width: 100%;
        background: url('static/fon.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;">
<ul>
    <li><a href="/portfolio">Компании</a></li>
    <li><a href="/map">Заказать</a></li>
    <li><a href="/contacts">Контакты</a></li>
</ul>
<p>Программист. Работал в крупных компаниях - Yandex, Vk и т.п. Готов разработать ваш заказ.</p>
<div style="height:1000px;">
 <div>
    <div>
      <a style="position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: 0px;
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */" href="contacts">
            Связаться
      </a>
    </div>
  </div>
</div>
</body>
</html>
